@import 'tailwindcss';
@config "../../tailwind.config.js";

@tailwind utilities;

@theme {
    --color-primary-50: #f6f6f6;
    --color-primary-100: #e7e7e7;
    --color-primary-200: #d1d1d1;
    --color-primary-300: #b0b0b0;
    --color-primary-400: #888888;
    --color-primary-500: #787878;
    --color-primary: #787878;
    --color-primary-600: #5d5d5d;
    --color-primary-700: #4f4f4f;
    --color-primary-800: #454545;
    --color-primary-900: #3d3d3d;
    --color-primary-950: #262626;

    --color-dark: #212529;
    --color-muted: #a0a0a0;
    --color-white: #ffffff;
}
