name: Docker Image CI

on:
    push:
        branches: ['main']

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4

            - name: Docker login
              run: echo -n "${{ secrets.HARBOR_PASSWORD }}" | docker login "${{ secrets.HARBOR_HOST }}" -u '${{ secrets.HARBOR_USERNAME }}' --password-stdin

            - name: Modify Dockerfile
              run: |
                  echo -e "ADD . /var/www" >> ./.docker/web/Dockerfile

            - name: Remove dockerignore
              run: |
                  rm .dockerignore

            - name: Setup Composer
              uses: ./.github/actions/cache_and_install_composer
              env:
                  GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

            - name: Dump autoload
              run: composer dump-autoload

            - name: Setup NPM
              uses: ./.github/actions/cache_and_install_node_modules

            - name: Vue Enums
              run: php artisan vue:enum

            - name: Build application
              run: npm run build

            - name: Change Permissions
              run: |
                  chmod 777 storage -R
                  chmod 777 bootstrap/cache -R

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Cache Docker Layers
              uses: actions/cache@v4
              with:
                  key: docker-image-live-${{ hashFiles('.docker/web/Dockerfile') }}
                  path: /tmp/.buildx-cache

            - name: Build the Docker image
              env:
                  PROJECT_NAME: ${{ secrets.HARBOR_PROJECT }}
                  HOST: ${{ secrets.HARBOR_HOST }}
                  CI_COMMIT_SHORT_SHA: ${{ github.sha }}
              run: docker buildx build .  --file .docker/web/Dockerfile --tag $HOST/$PROJECT_NAME/web-live:$CI_COMMIT_SHORT_SHA --cache-from=type=local,src=/tmp/.buildx-cache --cache-to=type=local,dest=/tmp/.buildx-cache  --push

            - name: Update deployment with new hash
              env:
                  HARBOR_HOST: ${{ secrets.HARBOR_HOST }}
                  HARBOR_PROJECT: ${{ secrets.HARBOR_PROJECT }}
                  CI_COMMIT_SHORT_SHA: ${{ github.sha }}
              run: cat .kubernetes/live-web.deployment.yml |
                  sed "s/\$CI_COMMIT_SHORT_SHA/${CI_COMMIT_SHORT_SHA/}/g" |
                  sed "s/\$HARBOR_HOST/${HARBOR_HOST/}/g" |
                  sed "s/\$HARBOR_PROJECT/${HARBOR_PROJECT/}/g" |
                  sed "s/%DATE%/$(date '+%Y-%m-%d %s')/g" > .kubernetes/live.deployment-new.yml

            - name: Deploy
              uses: kodermax/kubectl-aws-eks@main
              env:
                  KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG }}
              with:
                  args: apply -f .kubernetes/live.deployment-new.yml
